body {
    margin: 20 auto;
}

:root {
    --bgcolor: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .page-header {
    background-color: var(--bgcolor);
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;
  }

  .logo-logo {
    width: 70px;
  }

  .logo {
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    
  }
  
  .nav-bar {
    margin: auto;
  }
  
  .nav-bar a {
    color: rgb(0, 0, 0);
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    padding: 3.9rem;
  }

  .nav-bar a:hover {
    color: blue;
  }
  
  .menu-icon {
    color: white;
    cursor: pointer;    
    display: none;
  }
  
  button {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.9rem;
  }

  .logo {
    width: 90px;
  }

  h1 {
    color: #1498D5;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    text-align: center;
    margin: 0 auto;
  }
  
  #search input[type="text"] {
      background: url(search-white.png) no-repeat 10px 6px #444;
      border: 0 none;
      font: bold 12px Arial,Helvetica,Sans-serif;
      color: #d7d7d7;
      width:450px;
      padding: 6px 15px 6px 35px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
      -webkit-transition: all 0.7s ease 0s;
      -moz-transition: all 0.7s ease 0s;
      -o-transition: all 0.7s ease 0s;
      transition: all 0.7s ease 0s;
      }
  
  #search input[type="text"]:focus {
      background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
      color: #6a6f75;
      width: 650px;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
      }

    #search {
        text-align: center;
        padding: 40px;
    }

    hr {
        text-align: center;
        margin: 0 auto;
        width: 70%;
    }

    .btns-perfil {
        text-align: center;
        margin: 0 auto;
        padding: 50px;
    }

    .perf {
        border-radius: 100%;
        width: 150px;
        height: 150px;
        margin: 10px;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 30px;
        padding-top: 20px;
    }

    h3{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 30px;
        padding-top: 40px;
    }

    .btns-templates {
        text-align: center;
        margin: 0 auto;
        width: 90%;
        padding: 50px;
    }

    .temp {
        width: 400px;
        height: 250px;
        margin: 10px;
    }

    footer {
      background-color: black;
      color: white;
      height:150px;
    }

    p {
      font-family: 'Lato', sans-serif;
      padding: 20px;
      font-size: 12px;
    }